<!DOCTYPE html>
<html>
<head>
<!--<meta http-equiv="refresh" content="0;url=pages/index.html">-->
<title>SB Admin 2</title>
<!--<script language="javascript">-->
    <!--window.location.href = "pages/index.html"-->
<!--</script>-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Jasny bootsrap http://www.jasny.net/bootstrap/getting-started/-->
    <!--added for row link http://www.jasny.net/bootstrap/javascript/#rowlink -->
    <link href="../vendor/bootstrap/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">

    <!--Font awsome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
Go to <a href="/home">Home page</a>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-area-chart fa-3x"><span> Graph</span></i>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart"
                         style="padding: 0px; position: relative;">
                        <canvas class="flot-base"
                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 679px; height: 400px;"
                                width="679" height="400"></canvas>
                        <div class="flot-text"
                             style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                            <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                                 style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
                                <div style="position: absolute; max-width: 115px; top: 381px; left: 23px; text-align: center;"
                                     class="flot-tick-label tickLabel">0
                                </div>
                                <div style="position: absolute; max-width: 115px; top: 381px; left: 131px; text-align: center;"
                                     class="flot-tick-label tickLabel">2
                                </div>
                                <div style="position: absolute; max-width: 115px; top: 381px; left: 238px; text-align: center;"
                                     class="flot-tick-label tickLabel">4
                                </div>
                                <div style="position: absolute; max-width: 115px; top: 381px; left: 346px; text-align: center;"
                                     class="flot-tick-label tickLabel">6
                                </div>
                                <div style="position: absolute; max-width: 115px; top: 381px; left: 453px; text-align: center;"
                                     class="flot-tick-label tickLabel">8
                                </div>
                                <div style="position: absolute; max-width: 115px; top: 381px; left: 558px; text-align: center;"
                                     class="flot-tick-label tickLabel">10
                                </div>
                            </div>
                            <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                                 style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
                                <div style="position: absolute; top: 337px; left: 2px; text-align: right;"
                                     class="flot-tick-label tickLabel">-1.0
                                </div>
                                <div style="position: absolute; top: 261px; left: 2px; text-align: right;"
                                     class="flot-tick-label tickLabel">-0.5
                                </div>
                                <div style="position: absolute; top: 184px; left: 6px; text-align: right;"
                                     class="flot-tick-label tickLabel">0.0
                                </div>
                                <div style="position: absolute; top: 108px; left: 6px; text-align: right;"
                                     class="flot-tick-label tickLabel">0.5
                                </div>
                                <div style="position: absolute; top: 31px; left: 6px; text-align: right;"
                                     class="flot-tick-label tickLabel">1.0
                                </div>
                            </div>
                        </div>
                        <canvas class="flot-overlay"
                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 679px; height: 400px;"
                                width="679" height="400"></canvas>
                        <div class="legend">
                            <div style="position: absolute; width: 46px; height: 33.3333px; top: 14px; right: 13px; background-color: rgb(255, 255, 255); opacity: 0.85;"></div>
                            <table style="position:absolute;top:14px;right:13px;;font-size:smaller;color:#545454">
                                <tbody>
                                <tr>
                                    <td class="legendColorBox">
                                        <div style="border:1px solid #ccc;padding:1px">
                                            <div style="width:4px;height:0;border:5px solid rgb(237,194,64);overflow:hidden"></div>
                                        </div>
                                    </td>
                                    <td class="legendLabel">sin(x)</td>
                                </tr>
                                <tr>
                                    <td class="legendColorBox">
                                        <div style="border:1px solid #ccc;padding:1px">
                                            <div style="width:4px;height:0;border:5px solid rgb(175,216,248);overflow:hidden"></div>
                                        </div>
                                    </td>
                                    <td class="legendLabel">cos(x)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../vendor/raphael/raphael.min.js"></script>
<script src="../vendor/morrisjs/morris.min.js"></script>
<script src="../data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!--Jasny bootstrap-->
<script src="../vendor/bootstrap/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>


</body>

</html>
