<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Jasny bootsrap http://www.jasny.net/bootstrap/getting-started/-->
    <!--added for row link http://www.jasny.net/bootstrap/javascript/#rowlink -->
    <link href="../vendor/bootstrap/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet" media="screen">

    <!--Font awsome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        // Load the Visualization API and the piechart package.
        google.charts.load('current', {'packages': ['corechart']});

        //Data sent from controller
        var jsonData = /*[[${history}]]*/ "empty";

        //Data obtained from API - to test and compare results obtained by controller
        var patientID = /*[[${patient.id}]]*/ "undefined";
        var dataUrl = "/API/show-patient/" + patientID;

        var jsonDataAPI;

        var xhr = new XMLHttpRequest();
        //conn.type, url, asynchron (true/false)
        xhr.open("GET", dataUrl, true);


        xhr.addEventListener('load', function (ev) {
            if (this.status === 200) {
                console.log("Connection result: ");
                console.log(this);
                jsonDataAPI = JSON.parse(this.responseText);
            }
        });
        xhr.send();


        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // var data=google.visualization.arrayToDataTable(jsonData);
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'measurement');
            data.addColumn('number', 'weight');

            jsonData.forEach(function (row) {
                data.addRow([
                    new Date(row.dateOfInspection),
                    row.weightKg
                ]);
            });

            // Set chart options
            var options = {
                'title': 'Body Mass Parameters',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav th:replace="fragments/navigation-menu::navigation"></nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Patient details</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class='fas fa-user-circle fa-3x'><span> Personal data</span></i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>#</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Id</td>
                                        <td th:text="${patient.id}"></td>
                                    </tr>

                                    <tr>
                                        <td>Name</td>
                                        <td th:text="${patient.name}"></td>
                                    </tr>
                                    <tr>
                                        <td>Last name</td>
                                        <td th:text="${patient.lastName}"></td>
                                    </tr>
                                    <tr>
                                        <td>PESEL</td>
                                        <td th:text="${patient.pesel}"></td>
                                    </tr>
                                    <tr>
                                        <td>Date of birth</td>
                                        <td th:text="${patient.dateOfBirth}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->

                        <div class="panel-footer">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add measurements</button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Body mass parameters</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form th:object="${bodyDataEmptyObj}" th:action="@{/save-data}" method="post">
                                                <div class="form-group">
                                                    <label>Height:</label>
                                                    <input class="form-control" placeholder="height in cm" type="number"
                                                           th:field="*{heightCm}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Weight:</label>
                                                    <input class="form-control" placeholder="weight in kg" type="number"
                                                           th:field="*{weightKg}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fat mass [kg]:</label>
                                                    <input class="form-control" placeholder="Fat mass, kg" type="number"
                                                           th:field="*{fatMassKg}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fat mass [%]:</label>
                                                    <input class="form-control" placeholder="Fat mass, %" type="number"
                                                           th:field="*{fatPercent}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fat free mass [kg]:</label>
                                                    <input class="form-control" placeholder="Fat free mass in kg" type="number"
                                                           th:field="*{ffmMassKg}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>
                                                <div class="form-group">
                                                    <label>Fat free mass [%]:</label>
                                                    <input class="form-control" placeholder="Fat free mass in %" type="number"
                                                           th:field="*{ffmPercent}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>

                                                <div class="form-group">
                                                    <label>Date of analysis:</label>
                                                    <input class="form-control" placeholder="Date" type="date"
                                                           th:field="*{dateOfInspection}" required="required" autofocus="autofocus">
                                                    <p class="help-block">Field required</p>
                                                </div>
                                                <!--<div class="form-group">-->
                                                    <!--<label>BMI:</label>-->
                                                    <!--<input class="form-control" placeholder="Fat free mass in %" type="number"-->
                                                           <!--th:field="*{BMI}" autofocus="autofocus">-->
                                                <!--</div>-->

                                                <div>
                                                    <input type="hidden" th:field="*{patient}">
                                                    <input type="hidden" th:filed="*{dateOfInspection}">
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class='fas fas fa-folder-open fa-3x'><span> History </span></i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Results</th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${history}==null or ${history.isEmpty()}">
                                        <tr>
                                            <td colspan="2">No data to dispaly</td>
                                        </tr>
                                    </tbody>
                                    <tbody th:if="${history}!=null or ${!history.isEmpty()}">
                                    <tr th:each="item:${history}">
                                        <td th:text="${item.dateOfInspection}"></td>
                                        <td th:text="${item.toString()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-area-chart fa-3x"><span> Graph</span></i>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div>
                                <!--var data= new -->
                                <div id="chart_div"></div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../vendor/raphael/raphael.min.js"></script>
<script src="../vendor/morrisjs/morris.min.js"></script>
<script src="../data/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../dist/js/sb-admin-2.js"></script>

<!--Jasny bootstrap-->
<script src="../vendor/bootstrap/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>

</body>

</html>
